@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

* {
  box-sizing: border-box;
  font-family: Righteous;
  letter-spacing: 4px;
  background-color: #78807f;
  color: #f0fffe;
}
button{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
p{
  text-align: center;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.btn-1{
  width: 180px;
  height: 50px;
  border:none;
  color: white;
  background-color: #DE834D;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #781D42;
  transition: ease-out 0.3s;
  font-size: 0.8rem;
  outline: none;
}

.btn-1:hover{
  box-shadow: inset 180px 0 0 0 #781D42;
}

.btn-2{
  width: 40px;
  height: 40px;
  border:none;
  color: white;
  background-color: #DE834D;
  border-radius: 1px;
  box-shadow: inset 0 0 0 0 #781D42;
  transition: ease-out 0.3s;
  font-size: 24px;
  outline: none;
}

.btn-2:hover{
  box-shadow: inset 40px 0 0 0 #781D42;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}
.column2 {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.arrow-top {
  transform: rotate(-45deg);
}
.arrow-right {
  transform: rotate(45deg);
}
.arrow-bottom {
  transform: rotate(135deg);
}
.arrow-left {
  transform: rotate(-135deg);
}
.arrow-top-narrow {
  transform: rotate(-45deg) skew(-15deg, -15deg);
}
.arrow-top-wide {
  transform: rotate(-45deg) skew(7deg, 7deg);
}
.arrow-top-left {
  transform: rotate(-90deg) skew(-10deg, -10deg);
}
.arrow-top-right {
  transform: rotate(0) skew(-10deg, -10deg);
}
.arrow-bottom-left {
  transform: rotate(180deg) skew(-10deg, -10deg);
}
.arrow-bottom-right {
  transform: rotate(90deg) skew(-10deg, -10deg);
}
