@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Montserrat:800');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 2px;
  background-color: #E2BEA0;
  color: #545479;
}
button{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.header{
  text-align:center;
  margin-bottom: 5px;
  margin-top: 20px;
}
.headermachine{
  margin-bottom: 0px;
  margin-top: 20px;
  text-align:center;
  font-size: 30px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.btn-1{
  width: 180px;
  height: 50px;
  border:none;
  color: white;
  background-color: #384B42;
  border-radius: 8px;
  box-shadow: inset 0 0 0 0 #BE3F4B;
  transition: ease-out 0.3s;
  font-size: 1.2rem;
  outline: none;
}

.btn-1:hover{
  box-shadow: inset 180px 0 0 0 #BE3F4B;
}

.btn-2{
  width: 40px;
  height: 40px;
  border:none;
  color: #cdeae8;
  background-color: #A4796E;
  border-radius: 8px;
  box-shadow: inset 0 0 0 0 #85cbc9;
  transition: ease-out 0.3s;
  font-size: 24px;
  outline: none;
}

.btn-2:hover{
  box-shadow: inset 40px 0 0 0 #85cbc9;
}

.btn-3{
  width: 180px;
  height: 50px;
  border:none;
  color: white;
  background-color: #BE3F4B;
  border-radius: 8px;
  box-shadow: inset 0 0 0 0 #BE3F4B;
  transition: ease-out 0.3s;
  font-size: 1.2rem;
  outline: none;
}

.btn-3:hover{
  box-shadow: inset 180px 0 0 0 #BE3F4B;
}

.reset-btn{
  width: 60px;
  height: 60px;
  border:none;
  color: white;
  background-color: #06A99E;
  border-radius: 8px;
  box-shadow: inset 0 0 0 0 #402E32;
  transition: ease-out 0.3s;
  font-size: 24px;
  outline: none;
}

.reset-btn:hover{
  box-shadow: inset 60px 0 0 0 #402E32;
}

.column {
  float: left;
  width: 25%;
  height: 25%;
}

.clock{
  text-align: center;
  font-size: 24px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
