<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Laundry Reservation</title>
    <!-- Latest compiled and minified CSS -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<h1 style="text-align:center;">Laundry Reservation</h1>
<div class="row">
	<th:block th:each='washingMachine : ${allMachines}'>
    <div class="column">
        <h2 style="text-align:center;" th:text="|MACHINE ${washingMachineStat.index+1}|"></h2>
        <img style="width: 60%;" src="/washingmachine.png">
    	<th:block th:if="${washingMachine.isAvailableAtThisTime(currentTime.getCurrentHour())}">

		<div id="wrapps">
			<form th:action="@{'/'}" th:method="post" >
				<input type="hidden" th:value="${washingMachine.getWashingMachineID()}" name="value" />
				<button type="submit">
					Click For Reservation
				</button>
			</form>
		</div>
    	

		</th:block>
		<th:block th:unless="${washingMachine.isAvailableAtThisTime(currentTime.getCurrentHour())}">
        		<p>ALREADY RESERVED</p>
		</th:block>
    </div>
    
    </th:block>
</div>

<center class="row">
	<div class="column2">

	</div>
    <div class="column2">
	    <form th:action="@{'/'}" th:method="post" >
			<input type="hidden" th:value="decreaseHour" name="value" />
				<a type="submit" style="float: right;" href="#">
					<span class="arrow arrow-left"></span>
				</a>
		</form>
    </div>
    <div class="column2">
        <h3 style="text-align: center; padding" th:text="${currentTime.getCurrentHourAsNicelyFormatted()}"> </h3>
    </div>
    <div class="column2">
	    <form th:action="@{'/'}" th:method="post" >
			<input type="hidden" th:value="increaseHour" name="value" />
	    	<a type="submit" style="float: left;" href="#">
				<span class="arrow arrow-right"></span>
			</a>
		</form>
    </div>
	<div class="column2">

	</div>
</center>
</body>
</html>