<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Laundry Reservation</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<h1 class="header" style="font-size: 38px;">Laundry Reservation</h1>
<div >
	<th:block th:each='washingMachine : ${allMachines}'>
    <div class="column">
        <h2 class="headermachine" th:text="|Machine ${washingMachineStat.index+1}|"></h2>
        <img class="center" src="/washingmachine.png">
    	<th:block th:if="${washingMachine.isAvailableAtThisTime(currentTime.getCurrentHour())}">

		<div id="wrapps">
			<form th:action="@{'/'}" th:method="post" >
				<input type="hidden" th:value="${washingMachine.getWashingMachineID()}" name="value" />
				<button class="btn-1" type="submit">
					Click for Reserve
				</button>
			</form>
		</div>
    	

		</th:block>
		<th:block th:unless="${washingMachine.isAvailableAtThisTime(currentTime.getCurrentHour())}">
        		<button class="btn-3" type="submit">
					Already Reserved
				</button>
		</th:block>
    </div>
    
    </th:block>
</div>

<div class="footer">
		<form th:action="@{'/'}" th:method="post" style="float:left; padding-left: 43%; padding-top: 15px; text-align: center;">
			<input type="hidden" th:value="decreaseHour" name="value" />
				<button class="btn-2" type="submit">
					<
				</button>
		</form>

		<h3 class="clock" style="float: left; padding-left: 2%; padding-right: 2%;" th:text="${currentTime.getCurrentHourAsNicelyFormatted()}"> </h3>	
		
		<form th:action="@{'/'}" th:method="post" style="float:left; padding-top: 15px; text-align: center;">
			<input type="hidden" th:value="increaseHour" name="value" />
				<button class="btn-2" type="submit">
					>
				</button>
		</form>

		<form th:action="@{'/'}" th:method="post" style="float:left; position: absolute; bottom: 0; padding: 0.5%; text-align: center;">
			<input type="hidden" th:value="reset" name="value" />
			<button class="reset-btn" type="submit">
				Reset
			</button>
		</form>
</div>
</body>
</html>